
:root {
    --text-color: #676861;
    --primary-color: #d79491;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;

}

.hover-primary-color:hover {
    color: var(--primary-color) ;
}

.primary-color-text {
    color: var(--primary-color);
}

.primary-color-text:hover {
    color: var(--text-color);
    cursor: pointer;
}


.back-to-top {
    height: 42px;
    width: 42px;
    color: white;
    position: fixed;
    left: calc(100% - 56px);
    bottom: 14px;
    right: 0;
    z-index: 1030;
    background-color: var(--primary-color);
}

.back-to-top:hover {
    background-color: #393a34;
    cursor: pointer;
}

.back-to-top-btn {
    color: white;
}